.u-section-1 {
  background-image: url("images/pexelsphoto917494.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 805px;
}

.u-section-1 .u-group-1 {
  width: 684px;
  min-height: 262px;
  margin: 70px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 3px;
  margin: 25px 20px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: trebuchet-ms;
  margin: 20px 20px 25px;
}

.u-section-1 .u-image-1 {
  width: 284px;
  height: 201px;
  margin: 157px auto 80px 428px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 564px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 234px;
    margin-left: 353px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-1 .u-group-1 {
    width: 576px;
    min-height: 328px;
    margin-top: 65px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 35px;
  }

  .u-section-1 .u-image-1 {
    width: 179px;
    margin-top: 162px;
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-1 .u-group-1 {
    width: 405px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 168px;
    margin-top: 65px;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-1 {
    width: 141px;
    margin-bottom: 74px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 805px;
}

.u-section-2 .u-image-1 {
  height: 462px;
  margin-top: -193px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -118px auto 52px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/pexelsphoto1624438.jpeg");
  min-height: 643px;
  background-position: 50% 50%;
}

.u-section-2 .u-shape-1 {
  width: 453px;
  height: 302px;
  margin: 142px auto 60px 550px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-family: trebuchet-ms;
  margin: 189px 246px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px auto 125px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 692px;
  }

  .u-section-2 .u-image-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-image-2 {
    min-height: 530px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 454px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 113px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 568px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-image-2 {
    min-height: 406px;
  }

  .u-section-2 .u-shape-1 {
    width: 350px;
    margin-top: 141px;
    margin-bottom: 75px;
    margin-left: 340px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 155px;
    width: 172px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 871px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-image-2 {
    min-height: 609px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 594px;
    margin-bottom: -169px;
    margin-left: -59px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 117px;
    width: 414px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 645px;
  }

  .u-section-2 .u-image-1 {
    height: 335px;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -102px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-image-2 {
    min-height: 383px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 478px;
    margin-bottom: -163px;
    margin-left: -50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 73px;
    width: 261px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 899px;
}

.u-section-3 .u-image-1 {
  height: 427px;
  margin-top: -74px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -118px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-shape-1 {
  width: 453px;
  height: 302px;
  margin: 73px auto 0 118px;
}

.u-section-3 .u-text-1 {
  margin: -86px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-family: trebuchet-ms;
  margin: -274px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 197px 0 0 auto;
}

.u-section-3 .u-image-2 {
  background-image: url("images/pexelsphoto1366919.jpeg");
  min-height: 599px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  position: relative;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 794px;
  }

  .u-section-3 .u-image-1 {
    height: 462px;
    margin-top: -193px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 494px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 97px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -109px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 2.25rem;
    margin-top: -310px;
    position: relative;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
    text-transform: none;
    font-size: 1rem;
    letter-spacing: normal;
    margin-top: 256px;
    margin-bottom: 24px;
  }

  .u-section-3 .u-image-2 {
    position: relative;
    min-height: 494px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 678px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 63px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 74px;
  }

  .u-section-3 .u-text-2 {
    padding-left: 13px;
    padding-right: 13px;
    margin-top: -398px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 344px;
  }

  .u-section-3 .u-image-2 {
    min-height: 378px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 967px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 402px;
    margin-left: 128px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -576px;
  }

  .u-section-3 .u-text-2 {
    padding-left: 9px;
    padding-right: 9px;
    margin-top: -260px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 214px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 567px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 757px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 349px;
    margin-left: 41px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    padding-left: 6px;
    padding-right: 6px;
    width: auto;
    margin-top: -391px;
    margin-left: 12px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 345px;
    margin-right: 6px;
    margin-bottom: 3px;
  }

  .u-section-3 .u-image-2 {
    min-height: 357px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 735px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 103px auto 87px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-shape-1 {
  width: 285px;
  height: 265px;
  margin: -72px 16px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 454px;
  height: 426px;
  margin: -345px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-family: trebuchet-ms;
  margin: 55px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 4px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 529px;
}

.u-section-4 .u-text-3 {
  margin: 20px 20px 0;
}

.u-section-4 .u-image-2 {
  height: 348px;
  width: 570px;
  margin: 36px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-image-1 {
    width: 374px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 10px;
  }

  .u-section-4 .u-image-1 {
    width: 287px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 8px;
  }

  .u-section-4 .u-image-1 {
    width: 421px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-image-2 {
    width: 439px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 5px;
  }

  .u-section-4 .u-image-1 {
    width: 226px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-2 {
    width: 283px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 615px;
}

.u-section-5 .u-group-1 {
  min-height: 126px;
  width: 800px;
  margin: 56px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-family: trebuchet-ms;
  margin: 15px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 16px 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 239px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  font-family: trebuchet-ms;
  margin: 25px 0 0;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  width: 225px;
  margin: 0 auto 25px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 239px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-5 {
  font-size: 6rem;
  font-weight: 700;
  font-family: trebuchet-ms;
  margin: 25px 0 0;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  width: 225px;
  margin: 0 auto 25px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 239px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-7 {
  font-size: 6rem;
  font-weight: 700;
  font-family: trebuchet-ms;
  margin: 25px 0 0;
}

.u-section-5 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  width: 225px;
  margin: 0 auto 25px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 239px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-9 {
  font-size: 6rem;
  font-weight: 700;
  font-family: trebuchet-ms;
  margin: 48px 0 0;
}

.u-section-5 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  width: 225px;
  margin: 0 auto 48px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 660px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.25rem;
    width: 186px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    width: 186px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.25rem;
    width: 186px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 51px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.25rem;
    width: 186px;
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-5 .u-group-1 {
    min-height: 279px;
    width: 613px;
    margin-top: 54px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 30px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-4 {
    width: 142px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-6 {
    width: 200px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-8 {
    width: 170px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-text-10 {
    width: 322px;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 474px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-5 .u-text-4 {
    width: 133px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-6 {
    width: 182px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-8 {
    width: 168px;
  }

  .u-section-5 .u-text-9 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-5 .u-text-10 {
    width: 133px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-4 {
    width: 112px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-6 {
    width: 191px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    width: 172px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 25px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-10 {
    width: 112px;
    margin-bottom: 25px;
  }
}.u-section-6 {
  background-image: linear-gradient(#f1c50e, #478ac9);
  min-height: 655px;
}

.u-section-6 .u-image-1 {
  height: 373px;
  margin-top: -166px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -34px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 453px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-shape-1 {
  width: 499px;
  height: 207px;
  margin: 34px auto 0 118px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-family: trebuchet-ms;
  margin: -174px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 166px;
  min-width: 120px;
  margin: 33px 0 66px auto;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 453px;
}

.u-section-6 .u-image-2 {
  width: 457px;
  height: 534px;
  margin: -121px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 576px;
  }

  .u-section-6 .u-image-1 {
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 97px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-6 .u-image-2 {
    width: 377px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 488px;
  }

  .u-section-6 .u-image-1 {
    height: 264px;
    margin-top: -57px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-shape-1 {
    margin-left: 74px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-6 .u-image-2 {
    width: 289px;
    height: 453px;
    margin-top: -40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 731px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 380px;
    margin-left: 82px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -520px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 429px;
  }

  .u-section-6 .u-image-2 {
    width: 405px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 572px;
  }

  .u-section-6 .u-image-1 {
    height: 158px;
    margin-left: initial;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -47px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-shape-1 {
    width: 349px;
    margin-left: 35px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-6 .u-image-2 {
    width: 262px;
    height: 387px;
    margin-bottom: 66px;
  }
}